:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-yellow: hsl(71, 73%, 54%);
  --neutral-gray: hsl(204, 43%, 93%);
  --neutral-blue: hsl(218, 22%, 67%);
  --main-font: "Karla", sans-serif;
}

body {
  background-color: var(--neutral-gray);
  font-family: var(--main-font);
}

.container {
  width: 50%;
}

.summary {
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.subscription {
  background-color: hsl(179, 62%, 45%);
  color: #fff;
}

.why-us {
  background-color: hsl(179, 62%, 47%);
  color: #fff;
}

h1 {
  color: var(--primary-cyan);
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
}

.summary h2 {
  color: var(--primary-yellow);
}

h3 {
  font-size: 16px;
}

.summary h3 {
  color: var(--neutral-blue);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 14px;
}

.dollar {
  font-size: 32px;
}

.per-month {
  opacity: 0.5;
}

.btn {
  color: #fff;
}

.btn-yellow {
  background-color: var(--primary-yellow) !important;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
